<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webAppDay27</display-name>
  
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>ai.jobiak.http.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/open1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>intro</servlet-name>
    <servlet-class>ai.jobiak.http.Intro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intro</servlet-name>
    <url-pattern>/open2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>factorial</servlet-name>
    <servlet-class>ai.jobiak.http.FactorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>factorial</servlet-name>
    <url-pattern>/open3</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>jdbc</servlet-name>
    <servlet-class>ai.jobiak.http.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbc</servlet-name>
    <url-pattern>/open4</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>lifecycle</servlet-name>
    <servlet-class>ai.jobiak.http.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lifecycle</servlet-name>
    <url-pattern>/open5</url-pattern>
  </servlet-mapping>

  <servlet> 
    <description>to process html form data</description>
    <display-name>SignupForm1Servlet</display-name>
    <servlet-name>SignupForm1Servlet</servlet-name>
    <servlet-class>ai.jobiak.http.SignupForm1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupForm1Servlet</servlet-name>
    <url-pattern>/open6</url-pattern>
  </servlet-mapping>
      
  <welcome-file-list>
    <welcome-file>links.html</welcome-file>
  </welcome-file-list>
  
</web-app>